<h1>Werewolf Update: <%= link_to @game.name,game_url(id:@game.id)%></h1>
	
	<p>Hi <%= @user.username %> (or should I call you <%= @player.alias %>?),</p>
	  
	  <p>Here's a update on your werewolf game, <%= @game.name %>:</p>

	  <% if @game.turn > 0 %>
	  <p>It's now turn #<%= @game.turn %> (<%= @game.state %>.)</p>
	  <% end %>
	  <p><%= @player.advice %></p>
	
	<% if @game.state == "finished" %>
			<h3>The game is over! Did you win?</h3>
	<% end %>

</p>
<p><%= link_to "View Game", game_url(id:@game.id), class:"btn btn-primary" %>
</p>