<h1>Werewolf Game "<%= link_to @game.name,game_url(id:@game.id)%>" has begun!</h1>

<p>Hi <%= @user.username %> (or should I call you <%= @player.alias %>?),</p>

<p>The Werewolf game "<%= @game.name %>" has begun. Find out your role, and make your first move now!</p>

<%= link_to "View Game", game_url(id:@game.id), class:"btn btn-primary" %>
