<li class="media comment">
  <div class="media-body">
    <strong>
 		<% if comment.target and comment.player %>
		   <% type='private-comment'%>
			<%= comment.player.alias %> to <%=comment.target.alias%> (private):<br/>
		<% elsif not comment.target_role.blank? %>
			<% type='private-comment'%>
			<%= comment.player.alias %> to <%= (comment.target_role).pluralize(2) %>:
		<% elsif comment.player %>
			<% type='player-comment' %>
		 	<%= comment.player.alias %>:
		<% else type='system-comment'%>
		<% end %></strong> 
		<span class="<%=type%>"><%= comment.body %></span><br />
      <small class="text-muted">[<%=l comment.created_at %>]</small>
  </div>
</li>