<li class="media comment">
  <div class="media-body">
    <strong>
 		<% if comment.target %>
		   <% type='private-comment'%>
			<%= comment.player.alias %>:
		<% elsif comment.player %>
			<% type='player-comment' %>
		 	<%= comment.player.alias %>:
		<% else type='system-comment'%>
		<% end %></strong> 
		<span class="<%=type%>"><%= comment.body %></span><br />
      <small class="text-muted">[<%= time_ago_in_words comment.created_at %> ago]</small>
  </div>
</li>