<div class="well">
<%= form_for @comment, remote: true do |f| %>
    <div class="form-group">
      <%= f.label :body, 'Enter your comment:' %>
		<%= hidden_field_tag :game_id, @game.id %>
      <%= f.text_area :body, rows: 3, class: 'form-control', required: true, maxlength: 2000 %>
      <small class="label label-warning">Cannot be blank or contain more than 2000 characters.</small>
    </div>
 
    <%= f.submit 'Post', class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>