<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="font-family: 'raleway', sans-serif" href="/">Werewolf</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <% if current_user%>
				<li class="dropdown">
			  	 <a href="#" class="dropdown" data-toggle="dropdown" role="button" aria-expanded="false">Your Current Games
					 <span class="badge"><%= current_user.current_games.count%></span>
				 </a>
          	 <ul class="dropdown-menu" role="menu">
		  		  <% if current_user.current_games.count > 0 %>
		  	 	  	<% for game in current_user.current_games %>
			     	 <li><%= link_to game.name, game %></li>
			 		<% end %>
		  		  <% end %>
			 	 </ul>
			 </li>
			<% end %>
			<li class="dropdown">
		  	 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Open Games
				 <span class="badge"><%= @open_games.count %></span>
			 </a>
         	 <ul class="dropdown-menu" role="menu">
	  		  <% if @open_games.count > 0 %>
	  	 	  	<% for game in @open_games %>
		     	 <li><%= link_to game.name, join_game_path(id:game.id), method: :post, data: { confirm:"Are you sure you want to join this game? You can set your alias once you've joined.", confirm_title:"Join \"#{game.name}\" Game" } %></li>
		 		<% end %>
	  		  <% else %>
			  <li><%= link_to content_tag(:span,"", :class => "glyphicon glyphicon-plus") +' New Game', new_game_path %></li>
			  <% end %>
		 	 </ul>
		 </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text navbar-right"><%= render "shared/user_widget" %></p>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
