<div class="living_players" id="living_players">
	<table class="table table-striped">
		<% for player in @game.players.living.order("alias ASC") %>
		<div id="player-<%=player.id %>">
			<% is_self = (current_player(@game) == player) %>
				<tr class="<%= "self" if is_self %>"><td>			
					<%= render "games/action", {player: player, is_self:is_self} if current_player(@game).alive and not @game.state == "finished" %>
				</td>
				<td style="vertical-align:middle">
					<%if is_self and not @game.started? %><strong>
						<span class="rest-in-place alias" id="<%= "alias-#{player.id}" %>" data-url="<%= "/players/#{player.id}" %>" data-object="player" data-attribute="alias" data-placeholder="Enter a new alias">
						<%= player.alias %>
					</span></strong>
					<% else %>
					<!-- <button type="button" class="btn btn-default btn-xs pm-button" id="pm-<%=player.id%>" data="/p <%= player.alias%>">
						<span class="glyphicon glyphicon-comment"></span> PM
					</button> -->
						<%= player.alias %> 
					<% end %>
					<% if (@game.started? and (current_player(@game).knows_about? player or is_self) or @game.is_over?) %>
						(<%= player.role %>)
						<% if @game.is_over? %>
							- <%= link_to player.user, player.user %>
						<% end %>
					<% end %>
					<% if @game.is_day? and player.voted_for %> voted for <%= player.voted_for.alias %>. <% end %>
					<br />
					<% if @game.is_day? and player.votes_for.where(turn:@game.turn).count > 0 %>
						<div class="voters">
							Voted for by <%=  player.votes_for.where(turn:@game.turn).map { |vote| vote.voter.alias }.to_sentence %>.
						</div>
					<%end%>
				</td>
				<td><% if @game.is_day? and player.votes_for.where(turn:@game.turn).count > 0 %>
					<div class="vote_count"> <%= player.votes_for.where(turn:@game.turn).count %></div>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
