<h1>Werewolf <small>a game of murder & deception</h1>

<%= link_to 'Create a Game', new_game_path, class:"btn btn-primary pull-right" %>

<%if @user_games and @user_games.count > 0 %>
	<h2>Your Games</h2>

	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Players</th>
	      <th>Creator</th>
	      <th>Turn</th>


	    </tr>
	  </thead>

	  <tbody>
	    <% @user_games.each do |game| %>
	      <tr>
	        <td><h4><% if current_user.try(:is_playing?,game)%><%= link_to game.name, game %><% else %><%= game.name %><% end %></h4></td>
	        <td><%= game.players.count %></td>
			  <td><%= link_to game.creator.username, game.creator %></td>
	        <td><%= game.turn > 0? "#{game.turn} (#{game.state})" : "Unstarted" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>

<h2>Open Games</h2>
<% if @open_games.count > 0 %>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Players</th>
	      <th>Creator</th>

			<th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @open_games.each do |game| %>
	      <tr>
	        <td><h4><% if current_user.try(:is_playing?,game)%><%= link_to game.name, game %><% else %><%= game.name %><% end %></h4>
			  <%= game.description %>
			  </td>
	        <td><%= game.players.count %></td>
			  <td><%= link_to game.creator.username, game.creator %></td>
			  <td><% unless current_user.try(:is_playing?,game)%>
										<%= form_tag join_game_path(id:game.id) do %>
											<%= text_field_tag :alias %>
										  <%= submit_tag "Join Game", class:"btn btn-primary"  %>
										<% end %>
							<% end %>
	            <% if current_user == game.creator %><%= link_to 'Edit', edit_game_path(game), class:"btn btn-default btn-sm"%><%end%>
	        	  <% if current_user == game.creator %><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %><%end%>
			  </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% else %>
  There are no games available to join right now. Why don't you <%= link_to "create one?", new_game_path %>
<% end %>
<br>


<% if @recently_finished and @recently_finished.count > 0 %>
	<h2><% if current_user %>Your <% end %>Recently Completed Games</h2>

	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Game Ended</th>
	      <th>Winner</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @recently_finished.each do |game| %>
	      <tr>
	        <td><h4><% if current_user.try(:is_playing?,game)%><%= link_to game.name, game %><% else %><%= game.name %><% end %></h4></td>
	        <td><%=l game.updated_at %></td>
	        <td><%= game.winner %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>
