<div class="game <%=@game.state %>">
	
  <h2>
	  <% if current_user_is_creator and not @game.started? %><span class="rest-in-place" data-url="<%= @game %>" data-object="game" data-attribute="name" data-placeholder="Rename this game"><%= @game.name %></span>
	  <% else %>
    	<%= @game.name %>
	  <% end %>
  </h2>
	  <% unless @game.started? %> 
	  	<span class="rest-in-place game_description" data-url="<%= @game %>" data-object="game" data-attribute="description" data-formtype="textarea">
			<%= @game.description%>
		</span>
	  <% end %>
<p>
	<% if (current_user and not @game.started? and not current_user.is_playing?(@game)) %>
		 <%= link_to 'Join Game', join_game_path(:id => @game) %> |
	<% end %>

	<% if (current_user and current_user == @game.creator and not @game.started?) %>
		  <%= link_to 'Start Game', start_game_path(@game), class:"btn btn-lg btn-success pull-right #{"disabled" unless @game.ready_to_start?}" %>
	<% end %>
<p>
  <strong>
	  <% if @game.turn > 0 %>
	  Turn: <%= @game.turn %>.  It is <%= @game.state %>.
	  <% elsif @game.turn == 0 %>
	    Game has not yet started.
	  <% else %>
	    Game is over! 
	  <% end %>
	  <% if not current_player(@game).alive %>
	  	You are DEAD.
		<% end %>
	</strong>
	<!-- <br />There are <%=  @game.players.living.non_villagers.map { |player| player.role }.to_sentence %> remaining. -->
	<% if @game.started? %><br />There are <%= @remaining_count.map  {|role, count| pluralize(count, role) }.to_sentence %> remaining.
	<% elsif not @game.ready_to_start? %>
	You need at least <%= @game.min_players - @game.players.count %> more players to start the game.
	<% end %>
	
	<% if @game.state == "finished" %>
		<div class="well well-lg">
			<h3>The <%= @game.winner %> have won!</h3>
			<%= link_to "View Game Logs", game_logs_path(@game) %>
		</div>
	<% end %>
</p>
<div class="row">
   <div class="col-xs-6">
		<p>
		<h3>Players:</h3>
				<%= render "games/living_players"%>
		</p>
		<% if @game.players.dead.count > 0 %>
			<p><h4>Dead:</h4>
			<% for player in @game.players.dead %>
				<div class="player inline">
					<%= "* " if player == current_player(@game)%><%= player.alias %> (<%= player.role  %>) - <%= link_to player.user, player.user %> <br />
				</div>
			<% end %>
		<%end%>
	</div>
	<div class="col-xs-6">	
		<h3>Chat:</h3>
		 <div class="panel panel-default" id="comments">
			 <%= render 'comments/form' %>  
		    <div class="panel-body scrollable">
		      <ul class="media-list">
		        <%= render @comments %>
		      </ul>
		    </div>
		  </div>
	</div>
</div>
</div>

	<%= link_to '<-Back to games list', games_path %>
