<div class="game <%=@game.state %> row">
 <div class="col-xs-12">
	
  <h2>
	  <% if current_user_is_creator and not @game.started? %><span class="rest-in-place" data-url="<%= @game %>" data-object="game" data-attribute="name" data-placeholder="Rename this game"><%= @game.name %></span>
	  <% else %>
    	<%= @game.name %>
	  <% end %>
  </h2>
	  <% unless @game.started? %> 
	  	<span class="<% if current_user_is_creator %>rest-in-place<%end%> game_description" data-url="<%= @game %>" data-object="game" data-attribute="description" data-formtype="textarea">
			<%= @game.description%>
		</span>
	  <% end %>
<p>
	<% if (current_user and not @game.started? and not current_user.is_playing?(@game)) %>
		 <%= link_to 'Join Game', join_game_path(:id => @game) %> |
	<% end %>

	<% if (current_user and current_user == @game.creator and not @game.started?) %>
		  <%= link_to 'Start Game', start_game_path(@game), class:"btn btn-lg btn-success pull-right #{"disabled" unless @game.ready_to_start?}" %>
	<% end %>
<p>
  <strong>
	  <% if @game.turn > 0 %>
	  Turn: <%= @game.turn %>.  It is <%= @game.state %>.
	  <% elsif @game.turn == 0 %>
	    Game has not yet started.
	  <% else %>
	    Game is over! 
	  <% end %>
	  <% if not current_player(@game).alive %>
	  	You are DEAD.
		<% end %>
	</strong>
	<!-- <br />There are <%=  @game.players.living.non_villagers.map { |player| player.role }.to_sentence %> remaining. -->
	<% if @game.started? %><br />There are <%= @remaining_count.map  {|role, count| pluralize(count, role) }.to_sentence %> remaining.
	<% elsif not @game.ready_to_start? %>
	You need at least <%= @game.min_players - @game.players.count %> more players to start the game.
	<% end %>
	
		<div class="alert alert-info alert-dismissible game_status fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<% if @game.is_over? %>
			<h3>The <%= @game.winner %> have won!</h3>
			<%= link_to "View Game Logs", game_logs_path(@game), class:"btn btn-info" %>
			<% elsif @game.turn == 0%>
				<% if not @game.ready_to_start? %>
			   	You need at least <%= @game.min_players - @game.players.count %> more players before the game can begin.
				<% elsif @player == @game.creator %>
					You can start the game at any time. An email will go out to all players.
				<% else %>
  					Waiting for <%=@game.creator.username%> to start the game.
				<% end %>
			<% else %>  
				<p><%= @player.advice %></p>
			<% end %>
		</div>
				<% if @player.current_move %>
       		  	<p>You have selected <strong><%= @player.current_move.target.alias%></strong> to <%= MOVES[@player.role] %>, but you can change your target at any time until the night ends.</p>
				<% end %>
				<% if @player.role == "werewolf" and @game.role_count[:werewolf] > 1 %>
					<% for wolf in @game.players.living.werewolves.where.not(id:@player.id) %>
					   <% if wolf.current_move %>
						 	<p>Fellow wolf <strong><%= wolf.alias %></strong> has <% if wolf.current_move.target == @player.current_move.target %>also <%end%> selected <strong><%= wolf.current_move.target.alias %></strong>. </p>
								<% if wolf.current_move.target != @player.current_move.target %>
								<p><i>Note: BOTH WOLVES MUST AGREE ON A TARGET FOR THE GAME TO PROCEED.</i></p>
								<% end %>
							
						<% else %>
							<p>Fellow wolf <strong><%= wolf.alias %></strong> hasn't selected a target yet.</p>
						<% end %>	  
					<% end %>
				<% end %>

</p>
 </div>
</div>
<div class="row">
   <div class="col-md-6">
		<p>
		<h3>Players:</h3>
				<%= render "games/living_players"%>
		</p>
		<% if @game.players.dead.count > 0 %>
			<p><h4>Dead:</h4>
			<% for player in @game.players.dead %>
				<div class="player inline">
					<%= "* " if player == current_player(@game)%><%= player.alias %> (<%= player.role  %>) - <%= link_to player.user, player.user %> <br />
				</div>
			<% end %>
		<%end%>
	</div>
	<div class="col-md-6">	
		<h3>Chat:</h3>
		 <div class="panel panel-default" id="comments">
			 <%= render 'comments/form' %>  
		    <div class="panel-body scrollable">
		      <ul class="media-list">
		        <%= render @comments %>
		      </ul>
		    </div>
		  </div>
	</div>
</div>
</div>