<div class="game">
<p>
  <h2><%= @game.name %></h2>
  
</p>


<p>
  <strong>
	  <% if @game.turn > 0 %>
	  Turn: <%= @game.turn %>.  It is <%= @game.state %>.
	  <% elsif @game.turn == 0 %>
	    Game has not yet started.
	  <% else %>
	    Game is over! 
	  <% end %>
	  <% if not current_player(@game).alive %>
	  	You are DEAD.
		<% end %>
	</strong>
</p>
<div class="row">
   <div class="col-xs-6">
		<p>
		<h3>Players:</h3>
		<table class="table table-striped">
		<% for player in @game.players.living %>
			<% is_self = (current_player(@game) == player) %>
				<tr><td>			
					<%= render "games/action", player: player if current_player(@game).alive%>
				</td>
				<td><div class="<%= "self" if is_self %>">
					<%if is_self %>
						<span class="rest-in-place" data-url="<%= "/players/#{player.id}" %>" data-object="player" data-attribute="alias" data-placeholder="Enter a new alias">
						<strong><%= player.alias %></strong>
					</span>
					<% else %>
						<%= player.alias %> 
					<% end %>
					<% if @game.started? and (current_player(@game).knows_about? player or is_self) %>
						(<%= player.role %>)
					<% end %>
				</div></td>
			</tr>
		<% end %>
	</table>
		</p>
		<% if @game.players.dead.count > 0 %>
			<p><h4>Dead:</h4>
			<% for player in @game.players.dead %>
				<div class="player inline">
					<%= "* " if player == current_player(@game)%><%= player.alias %> (<%= player.role  %>) - <%= player.user.email %> <br />
				</div>
			<% end %>
		<%end%>
	</div>
	<div class="col-xs-6">	
		<h3>Chat:</h3>
		 <div class="panel panel-default" id="comments">
			 <%= render 'comments/form' %>  
		    <div class="panel-body scrollable">
		      <ul class="media-list">
		        <%= render @comments %>
		      </ul>
		    </div>
		  </div>
	</div>
</div>
</div>
<% if (current_user and not @game.started? and not current_user.is_playing?(@game)) %>
	 <%= link_to 'Join Game', join_game_path(:id => @game) %> |
<% end %>

<% if (current_user and current_user == @game.creator and not @game.started?) %>
	  <%= link_to 'Edit', edit_game_path(@game) %> | 
	  <%= link_to 'Start Game', start_game_path(@game) %>
<% end %> |
<%= link_to 'Back', games_path %>
