<!DOCTYPE html>
<html>
<head>
  <title>Werewolf Game <%= "| #{@title}" unless @title.blank? %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	 <%= include_gon %>
		<div id="main-container" class="container">
	      <div class="row">
	        <div class="col-xs-12">
				  <%= render 'shared/top_nav' %>
	          <% flash.each do |name, msg| -%>
				 <div class="alert alert-dismissible <%= "alert-#{flash_class_name(name)}"%>">
				  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	            <%= msg %>
	          <% end %>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-xs-12">
	          <%= yield %>
	        </div>
	      </div>
		</div>
</body>
</html>
